@import url("../../styles/color-pallete.css");
.navbar {
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;

    margin-top: 5px;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    display: none;
    padding: 1rem;

    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.239);
}

/*Classes to control the animations*/
.navbar__animation {
    display: block;
    animation: fadeIn 0.4s linear 0s 1 normal both;
    pointer-events: auto;
}

.navbar__hide {
    animation: fadeOut 0.2s linear 0s 1 normal both;
    pointer-events: none;
}

/*Keyframes rules*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        display: block;
        opacity: 1;
        transform: translateX(0);
    }
    to {
        display: none;
        opacity: 0;
        transform: translateX(300px);
    }
}

.navbar > ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu__item {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--honolulu-blue);
}

.navbar ul .menu__item:last-child {
    border-bottom: none;
}

.menu__item a {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--indigo-dye);
}

.dropdown {
    margin-top: 1.5rem;
    padding-left: 40px;

    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    display: none;
}

.navbar > ul li.open .dropdown {
    display: flex;
}

.navbar > ul > li:nth-child(3) .dropdown__item a div h4 {
    color: var(--marian-blue);
    font-size: 1.15rem;
}

.navbar > ul > li:nth-child(3) .dropdown__item a div p {
    font-size: 1rem;
}

.navbar > ul > li:nth-child(4) .dropdown__item a div {
    display: flex;
    gap: 6px;
}
