@import url("../../styles/color-pallete.css");
.navbar {
    width: 98%;
    margin: 0 auto;
    border-radius: 15px;

    margin-top: 5px;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    padding: 1rem;
    background-color: var(--indigo-dye);
}

/*Classes to control the animations*/
.navbar__animation {
    animation: fadeIn 0.4s linear 0s 1 normal both;
    pointer-events: auto;
}

.navbar__hide {
    animation: fadeOut 0.2s linear 0s 1 normal both;
    pointer-events: none;
}

/*Keyframes rules*/
@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        display: block;
        opacity: 1;
        transform: translateX(0);
    }
    to {
        display: none;
        opacity: 0;
        transform: translateX(300px);
    }
}

.navbar > ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu__item {
    padding-bottom: 1rem;
    border-bottom: 1px solid #edf6f949;
}

.navbar ul .menu__item:last-child {
    border-bottom: none;
}

.menu__item a {
    font-size: 1.15rem;
    font-weight: 600;
    color: #edf6f9;
}

.dropdown__item {
    display: none;
}
