.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

/*Carousel cards style*/
.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    background-color: white;
    border-radius: 8px;

    flex-direction: column;
    padding-bottom: 15px;
    cursor: pointer;
}

/*Img styles*/
.carousel :where(.picture__container, .card) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .picture__container {
    background-color: var(--indigo-dye);
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.card .picture__container img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}

.card h3 {
    font-size: 1.3rem;

    @media (width > 768px) {
        font-size: 1.4rem;
    }
}

.card .user__info :where(p, h4) {
    font-size: 1.1rem;

    @media (width > 768px) {
        font-size: 1.2rem;
    }
}

.card .user__info {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
}
