@import url("../../../styles/animations.css");
li.service__item > div {
    color: var(--main-bg-color);
    font-weight: 600;
    padding-bottom: 8px;

    border-bottom: 1px solid rgba(236, 234, 234, 0.543);

    display: flex;
    flex-direction: row;
}

li.service__item p {
    width: 100%;
}

li.service__item i {
    width: 10%;
    text-align: center;
    font-size: clamp(1.1rem, 6vw, 1.5rem);
    transform-origin: center;
}

li.service__item i.expand__content {
    animation: expandContent 0.5s ease forwards;
}

li.service__item i.collapse__content {
    animation: hideContent 0.5s ease forwards;
}

/*Subservices styles*/
.sub__services__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 1rem;

    max-height: 0;
    overflow: hidden;
}

.sub__services__list li {
    color: var(--mint-green);
    opacity: 0.9;

    font-weight: 500;
}

.service__item ul.hide {
    animation: slideUp 0.4s ease-out forwards;
}

.service__item ul.show {
    animation: slideDown 0.4s ease-out forwards;
}

@media (width > 992px) {
    li.service__item p {
        width: max-content;
    }

    li.service__item i {
        display: none;
    }

    .service__item ul.hide {
        animation: slideDown 0.4s ease-out forwards;
    }

    li.service__item > div {
        border: none;
    }

    .sub__services__list:nth-child(2) li {
        width: max-content;
    }
}
