@import url("../styles/color-pallete.css");

#features-section {
    background-color: var(--mint-green);

    padding: 5rem 1rem;
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testimonial__carousel__section {
    background-color: var(--icterine);
    width: 100%;

    height: auto;
    padding: 5rem 1rem;
}

#faqs__section {
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);

    padding: 5rem 1rem;
}
