@import url("../styles/color-pallete.css");

#features-section {
    background-color: var(--mint-green);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testimonial__carousel__section {
    background-color: var(--icterine);
    width: 100%;

    height: auto;
}

#faqs__section {
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
}

#generator__section,
#features-section,
#testimonial__carousel__section,
#faqs__section {
    padding: 4rem 3rem;
}
