@import url("../styles/color-pallete.css");

#features-section {
    background-color: var(--mint-green);

    padding: 5rem 1rem;
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#features-section h2,
.wrapper h2 {
    color: var(--indigo-dye);
    font-size: clamp(2.4rem, 5vw, 3.4rem);
    text-align: center;
    font-weight: 800;
}

#testimonial__carousel__section {
    background-color: var(--icterine);
    height: auto;
    padding: 5rem 1rem;
}

/******/
/*Wrapper styles*/
.wrapper {
    width: 100%;
    position: relative;
    max-width: 1110px;
}

/*Carousel styles*/
.wrapper .carousel {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

/*Buttons*/
.wrapper i {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(20%);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.487);
    line-height: 1.7;
}
.wrapper i {
    font-size: 1.5rem;
}
.wrapper i:first-of-type {
    left: 25px;
}
.wrapper i:last-of-type {
    right: 25px;
}

/*!SECTION - Responsiveness*/
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}
