:root {
    --mint-green: #bee9e8ff;
    --moonstone: #62b6cbff;
    --indigo-dye: #1b4965ff;
    --columbia-blue: #cae9ffff;
    --picton-blue: #5fa8d3ff;

    --federal-blue: #03045eff;
    --marian-blue: #023e8aff;
    --honolulu-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-cyan: #00b4d8ff;
    --vivid-sky-blue: #48cae4ff;
    --non-photo-blue: #90e0efff;
    --non-photo-blue-2: #ade8f4ff;
    --light-cyan: #caf0f8ff;

    --icterine: #fff75eff;
    --maize: #ffe94eff;
    --mustard: #ffda3dff;
    --mikado-yellow: #fdc43fff;
    --xanthous: #fdb833ff;
}
