@import url("../../styles/color-pallete.css");

/**NOTE - MOBILE FIRST APPROACH*/
.button {
    padding: 10px 20px;
    margin: 1rem auto;
    display: block;

    background-color: var(--blue-green);
    color: white;

    border-radius: 25px;

    font-weight: 600;
    font-size: clamp(1rem, 6vw, 1.4rem);
}
