.carousel {
    margin: 2rem auto;
}

/*Carousel styles*/
.wrapper .carousel {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 10px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.wrapper {
    width: min(85%, 1500px);
    margin: 0 auto;
    position: relative;
}

/*Buttons*/
.wrapper i {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.175);
    border-radius: 50%;

    text-align: center;
    cursor: pointer;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}
.wrapper i {
    font-size: 2rem;
    opacity: 0.7;
}
.wrapper i:first-of-type {
    left: 0;
}
.wrapper i:last-of-type {
    right: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

/*!SECTION - Responsiveness*/
@media screen and (width < 1000px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (width < 700px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}
