@import url("../../../styles/animations.css");
/*General component styles*/
.FAQs__item {
    padding: 2rem 1rem;

    border-bottom: 1px solid rgb(188, 185, 185);
}

.FAQs__item:last-child {
    border-bottom: none;
}

/*Question block styles*/
.FAQs__item .question {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    color: rgb(94, 87, 87);

    padding-right: 1rem;
}

.FAQs__item .question:hover {
    cursor: pointer;
}

.FAQs__item .question > h4 {
    justify-content: flex-start;
    width: 85%;

    font-size: clamp(1.1rem, 4vw, 1.3rem);

    margin-bottom: 1rem;
}

/*Icon to expand/close answer*/
.FAQs__item .question > i {
    justify-content: flex-end;
    font-size: clamp(1.5rem, 10vw, 2rem);
    color: rgb(104, 104, 104);

    display: flex;
    align-items: center;
    transform-origin: center;
}

.FAQs__item .question i.expand__animation {
    animation: rotation 0.5s ease forwards;
}

.FAQs__item .question i.collapse__animation {
    animation: rotationReverse 0.5s ease forwards;
}

/*Answer block styles*/
.FAQs__item div.answer {
    width: min(90%, 1000px);
    max-height: 0;
    overflow: hidden;
}

.FAQs__item .answer p {
    font-size: clamp(1.1rem, 4vw, 1.2rem);
    line-height: 1.5;
}

.FAQs__item div.expand {
    animation: slideDown 0.4s ease-out forwards;
    pointer-events: auto;
}

.FAQs__item div.collapse {
    animation: slideUp 0.4s ease-out forwards;
    pointer-events: none;
}
