@import url("../../styles/color-pallete.css");
footer {
    background-color: var(--indigo-dye);
    width: 100%;
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brand__name {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 2px;
    align-items: center;
}

.brand__name img {
    width: min(50px, 50%);
}

.brand__name h1 {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--main-bg-color);
}

.social__media__list {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social__media__list li i {
    font-size: clamp(1.2rem, 6vw, 2rem);
    color: var(--mint-green);
    opacity: 0.9;
    transition: all 0.3s ease;
}

.social__media__list li:hover i {
    opacity: 1;
    cursor: pointer;
}

.brand__services {
    margin-top: 3rem;
}

.copy__right {
    margin-top: 2rem;

    color: var(--mint-green);
    font-weight: 500;
}

@media (width > 992px) {
    .footer__main__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;

        width: min(100%, 1200px);
    }

    .contact__info {
        width: 30%;
        gap: 5rem;
    }

    .brand__services {
        margin: 0;
    }

    .copy__right {
        margin-top: 3.5rem;
    }

    .social__media__list,
    .brand__name {
        justify-content: flex-start;
    }
}
